.search{
    position: absolute;
    top: 500px;
    left: 400px;
}

.search-bar{
    max-width: 600px;
    width:900px;
    background-color: rgb(64, 212, 218);
    padding: 20px;
    border-radius: 40px;
}

.search-bar input{
    background: transparent;
    border: none;
    font-size: 20px;
    flex: 1;
    border: 0;
    outline: none;
    width: 500px;
    color: rgb(255, 255, 255);
}

::placeholder{
    color: rgb(255, 255, 255);
}

.search-bar button{
    position: absolute;
    top: 4.5px;
    left: 550px;
    border-radius: 30px;
    height: 55px;
    width: 80px;
    border: none;
}
.search-bar button img{
    height: 30px;
    width: 30px;
}

.search-bar button:hover{
    background-color: rgb(189, 236, 58);
}