.search{
    position: absolute;
    top: 539px;
    left: 460px;
    width: 800px;
}

.search-bar{
    width:755px;
    background-color: rgb(64, 212, 218);
    padding: 20px;
    border-radius: 40px;
}

.search-bar input{
    background: transparent;
    border: none;
    font-size: 20px;
    flex: 1;
    border: 0;
    outline: none;
    width: 660px;
    color: rgb(255, 255, 255);
}

::placeholder{
    color: rgb(255, 255, 255);
}

.search-bar button{
    position: absolute;
    top: 4.5px;
    left: 706px;
    border-radius: 30px;
    height: 55px;
    width: 80px;
    border: none;
}
.search-bar button img{
    height: 40px;
    width: 40px;
}

.search-bar button:hover{
    background-color: rgb(189, 236, 58);
}